 .contenedor-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid peru;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    padding: 1rem;
    margin-top:1rem;
    width: 200px;
    
     
}
.contenedor-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 



 .card-info {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 10px;
    
}   

.card-title, .card-description {
    margin-top: .5rem;
    text-align: center;
    font-weight: 300;
}

.card-price {
  
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}



.card-button{
   background-color: peru;
   margin-top: 1rem;
   color: black;
   padding: .5rem;
   border: 0;
   border-radius: .3rem;
   cursor: pointer;
}
.foto-item{
   
    max-width:100%;
}
.btn{
display: flex;
justify-content:center;
gap: .3rem;

}
.counter{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn1{
    background-color: peru;
    border: 0;
    width: 25px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-agregar{
    background-color: peru;
   margin-top: 1rem;
   color: black;
   padding: .5rem;
   border: 0;
   border-radius: .3rem;
   justify-content: center;
   align-items: center;
}
.btn-agregar:hover,.btn1:hover, .card-button:hover{
    background-color: white;
    color: peru;
    border: 1px solid peru;
}