*{
  margin:0;
  padding:0;
  box-sizing: border-box
}

ul,
ol {
  list-style-type: none;
}

a{
  text-decoration: none;
  color:  rgb(30, 88, 135);
}
.container{
  margin: 0 auto;
  max-width: 1200px;
}
img{
  max-width: 100%;
}
